<!-- This example requires Tailwind CSS v2.0+ -->

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="h-full flex flex-col bg-white">
    <div class="flex-1 py-6 overflow-y-auto px-4 sm:px-6">
      <div class="flex items-start justify-between">
        <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
          Shopping cart
        </h2>
      </div>

      <div class="mt-8">
        <div class="flow-root">
        <% if @order && @order.draft_order_lines.any? %>
          <ul role="list" class="-my-6 divide-y divide-gray-200">
            <% @order.draft_order_lines.each do |line| %>
              <li class="py-6 flex">
                <div class="flex-shrink-0 w-24 h-24 border border-gray-200 rounded-md overflow-hidden">
                  <img src=<%="https://tailwindui.com/#{line.product.product_image}"%> alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="w-full h-full object-center object-cover">
                </div>

                <div class="ml-4 flex-1 flex flex-col">
                  <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <h3>
                        <a href="#">
                          <%= line.product.name %>
                        </a>
                      </h3>
                      <p class="ml-4">
                        $<%= line.product.price %>
                      </p>
                    </div>
                  </div>
                  <div class="flex-1 flex items-end justify-between text-sm">
                    <p class="text-gray-500">
                      <%= line.quantity %>
                    </p>

                    <div class="flex">
                      <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <% else %>
          <div>
          <p>No Items in Cart</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
      <div class="flex justify-between text-base font-medium text-gray-900">
        <p>Subtotal</p>
        <p>$<%= @order.subtotal_price %></p>
      </div>
      <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
      <div class="mt-6">
        <a href="#" class="flex justify-center items-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">Checkout</a>
      </div>
      <div class="mt-6 flex justify-center text-sm text-center text-gray-500">
        <p>
          or
          <a href="<%= root_path %>" class="text-indigo-600 font-medium hover:text-indigo-500">Continue Shopping<span aria-hidden="true">
              &rarr;</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
